- 
  var menu = [
    {
      href: "#",
      follow: "dofollow",
      text: "iSOGLASS",
      child: false,
      active: true
    },
    {
      href: "#",
      follow: "dofollow",
      text: "Chai thuỷ tinh",
      child: [
        {
          icon02: "./",
          text02: "Chai thuỷ tinh đựng rượu",
          href02: "#",
        },
        {
          icon02: "./",
          text02: "Chai thuỷ tinh đựng nước",
          href02: "#",
        },
        {
          icon02: "./",
          text02: "Bộ bình ly thuỷ tinh",
          href02: "#",
        },
        {
          icon02: "./",
          text02: "Chai gốm đựng rượu",
          href02: "#",
        }
      ],
      active: true 
    },
    {
      href: "#",
      follow: "dofollow",
      text: "Ly thuỷ tinh",
      child: [
        {
          icon02: "./",
          text02: "Bộ ly thuỷ tinh"
        },
        {
          icon02: "./",
          text02: "Ly thuỷ tinh 2 lớp"
        },
        {
          icon02: "./",
          text02: "Ly thuỷ tinh uống rượu"
        },
        {
          icon02: "./",
          text02: "Ly thuỷ tinh cao cấp"
        },
        {
          icon02: "./",
          text02: "Ly thuỷ tinh uống bia"
        },
        {
          icon02: "./",
          text02: "Ly thuỷ tinh uống cafe"
        },
      ],
      active: false
    },
    {
      href: "#",
      follow: "dofollow",
      text: "Bình thuỷ tinh",
      child: false,
      active: false
    },
    {
      href: "#",
      follow: "dofollow",
      text: "In thương hiệu ly thủy tinh",
      child: false,
      active: false
    },
    {
      href: "#",
      follow: "nofollow",
      text: "Giới thiệu",
      child: false,
      active: false
    },
    {
      href: "#",
      follow: "nofollow",
      text: "Liên hệ",
      child: false,
      active: false
    }
  ];

nav.menu-nav 
  button.menu-close
    i.fa.fa-close(aria-hidden="true")
  ul.menu-list
    each item in menu
      li.menu-item(data-toggle=item.child ? "sub-menu" : false) 
        .menu-item-wrapper
          a.menu-item-link(href=item.href rel=`noopener noreferrer ${item.follow}`)
            span.menu-item-text=item.text 
          if item.child 
            span.menu-item-icon 
              i.fa.fa-angle-down.menu-item-arrow(aria-hidden="true") 
        if item.child 
          ul.sub-menu 
            each child in item.child
              li.sub-menu-item
                a.sub-menu-item-link(href=child.href02 rel="noopener noreferrer")
                  img.sub-menu-item-image(src=child.icon02, alt=child.text02, srcset=`${child.icon02} 2x`)
                  span.sub-menu-item-text=child.text02